.app-display{
	text-align:center;
	margin:180px auto;
	max-width:600px;
	padding:40px;
	background:#454545;
}
button.reset{
	    display: block!important;
    margin: 5px auto!important;
}
h1 {
	color:#fff;
}
h2{
	color:#fff;
	font-size:4rem;
}
